<!DOCTYPE html>
<html>
  <head>
    <title>InvoiceCreator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container body-container">
      <%= render 'shared/navbar' %>
      <%if flash[:notice] %>
        <div class="alert alert-primary p-4" role="alert">
          <strong><%= flash[:notice] %></strong>
        </div>
      <% end %>
      <%if flash[:error] %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:error] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
